.row {
  margin-top: 60px;
}

.col {
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  background: #2451b2;
  border-radius: 10px;
  color: #f1f4fa;
  height: 64px;
  line-height: 64px;
  margin-bottom: 3rem;
  padding: 0 10px;
  text-align: center;
}
